*.html
*.txt
wa.php
/vendor/
views/google-auth.php
views/google.php
face.php
func.php
search.php
slack_send_msg.php
sendMail.php
/user_uploads/
sitemap.xml
database.php
/cache/
vendor.zip
/passport/
vendor (2).zip
/invoice/
/database/
token_cache.json
wrapper.js
/visainfo/
/visa_f/
/invoice/
/invoice/invoices/
.htaccess
testDB.php
testNotif.php
